### Paraprocesimi i të dhënave

Pastrimi dhe praprocesimi i të dhënave janë hapa kyç në punën e çdo modeli ML. Këto procedura përfshijnë secilën metodë të nevojshme për t'u siguruar që të dhënat të cilat i kalohen modelit për trajnim dhe testim janë të pastërta, të plota dhe adekuate. Pastrimi i të dhënave është sidomos i nevojshëm në punën me Linear regression, pasi ky model është shumë i ndjeshëm ndaj vlerave që mungojnë, outliers, tipit të gabuar të vlerave (string në vend të numrave) dhe duplicates. 

Pasi cilado nga rastet e lartpërmendura shkakton crash të procesimit nga modeli ose rezultate të gabuara, unë kam zhvilluar një modul të quajtur data_cleaning.py i cili merret specifikisht me pastrimin e dataframes që do të procesohen nga modeli i Linear Regression. Metodat e implementuara në këtë modul janë:

* _standardize_column_names - ndryshon të gjithë emrat e kolonave në emra me shkronja të vogëla me underscores/ pa hapësira.
* _drop_duplicates - fshinë nga dataframe të gjithë rreshtat që janë duplicates.
* _fix_numeric_types - mundohet të kthej kolonat që përmbajnë tip të object por kanë vlerë numerike në kolona me tip numerik.
* _drop_constant_columns - fshinë kolonat që përmbajnë vetëm një vlerë unike.
* _handle_missing_values - në rreshtat ku mungojnë vlerat kryen veprimet: 1; fshinë rreshtat që kanë labels që mungojnë, 2; vendos medianën e kolonave numerike në rreshta ku vlerat numerike të asaj kolone mungojnë, 3; vendos modën e kolonave kategorike në rreshta ku ato vlera kategorike mungojnë.
* _clip_outliers - ul ndikimin e outliers duke zëvendësuar ato outliers me vlera që janë në lower ose upper bound.

Përfundimisht, të gjithë këto metoda thirren dhe ekzekutohen brenda metodës clean_dataframe. Shembull i ekzekutimit të kësaj metode është paraqitur më poshtë:

In [2]:
import pandas as pd
from data_cleaning import clean_dataframe

raw_df = pd.read_csv("winequality-red.csv")

clean_df = clean_dataframe(raw_df, target_col="quality")

display(raw_df.head())
display(clean_df.head())

   fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0            7.4              0.70         0.00  ...       0.56      9.4        5
1            7.8              0.88         0.00  ...       0.68      9.8        5
2            7.8              0.76         0.04  ...       0.65      9.8        5
3           11.2              0.28         0.56  ...       0.58      9.8        6
4            7.4              0.70         0.00  ...       0.56      9.4        5

[5 rows x 12 columns]

   fixed_acidity  volatile_acidity  citric_acid  ...  sulphates  alcohol  quality
0            7.4              0.70         0.00  ...       0.56      9.4        5
1            7.8              0.88         0.00  ...       0.68      9.8        5
2            7.8              0.76         0.04  ...       0.65      9.8        5
3           11.2              0.28         0.56  ...       0.58      9.8        6
4            7.4              0.66         0.00  ...       0.56      9.4        5

[5 rows x 12 columns]